@import 'tailwindcss';

/* Varela Round */
@font-face {
  font-family: 'Varela Round';
  src: url('/fonts/varela/VarelaRound-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}


@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}


@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins/Poppins-Light.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins/Poppins-Black.ttf') format('truetype');
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
}


@theme {
    --color-background: hsl(45 20% 97%);
    --color-foreground: #3a4e55;

    --color-card: hsl(0 0% 100%);
    --color-card-foreground: #3a4e55;

    --color-popover: hsl(0 0% 100%);
    --color-popover-foreground: #3a4e55;

    --color-primary: hsl(186 35% 28%);
    --color-primary-foreground: hsl(0 0% 100%);

    --color-secondary: hsl(49 100% 66%);
    --color-secondary-foreground: #3a4e55;

    --color-muted: hsl(167 40% 90%);
    --color-muted-foreground: hsl(186 25% 45%);

    --color-accent: hsl(8 51% 83%);
    --color-accent-foreground: #3a4e55;

    --color-mint: #BBD1D4;
    --color-mint-foreground: #3a4e55;

    --color-destructive: hsl(0 84.2% 60.2%);
    --color-destructive-foreground: hsl(0 0% 100%);

    --color-border: hsl(167 30% 85%);
    --color-input: hsl(167 30% 90%);
    --color-ring: hsl(186 35% 28%);

    --radius: 1rem;

    --color-sidebar-background: hsl(0 0% 98%);
    --color-sidebar-foreground: hsl(240 5.3% 26.1%);
    --color-sidebar-primary: hsl(240 5.9% 10%);
    --color-sidebar-primary-foreground: hsl(0 0% 98%);
    --color-sidebar-accent: hsl(240 4.8% 95.9%);
    --color-sidebar-accent-foreground: hsl(240 5.9% 10%);
    --color-sidebar-border: hsl(220 13% 91%);
    --color-sidebar-ring: hsl(217.2 91.2% 59.8%);

    --font-varela: 'Varela Round', sans-serif;
    --font-poppins: 'Poppins', sans-serif;

}




.scroll {
	@apply bg-background/95 shadow-md backdrop-blur-md;
}

.today {
    @apply border-l-4 border-l-secondary bg-secondary/5
}




@layer base {

    body {
    @apply bg-background text-foreground font-varela;
    font-feature-settings: "rlig" 1, "calt" 1;

    }

    strong {
        @apply font-bold;
    }

    input, textarea {
        @apply appearance-none;
    }

    html {
        scroll-behavior: smooth;
    }    

}